* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.home {
  color: white;
}

.food {
  width: 80%;
  margin: auto;
}

.new_food {
  width: 90%;
  display: flex;
  justify-content: end;
  margin-bottom: 40px;
}

.new_food a {
  color: #fff;
  background-color: #007bff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid;
  padding-left: 8px;
}

.food_table {
  width: 80%;
  margin: auto;
}

.food_table tr {
  height: 60px;
}

.notice,
.alert {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
  color: black;
}

.shopping_list h1 {
  text-align: center;
  margin-bottom: 40px;
}

.shopping_header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 60px;
}

.shopping_header p {
  font-size: 18px;
}

.delete-btn {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: #e33232;
  color: #fff;
  font-size: 18px;
}

.modify-btn {
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: #6c757d;
  color: #fff;
  font-size: 18px;
}

.food_table td,
.food_table th,
.table td,
.table th {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}
